{% extends 'base.html.twig' %}

{% block body %}
    <div class="card-group">

        <div class="card">
            <div class="card-header">
                Créer une catégorie:
            </div>
            <div class="card-body">
                <form action="{{ path('RestJavaCreateCategorie') }}" method="post">
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label class="col-form-label">libellé</label>
                        </div>
                        <div class="col-auto">
                            <input type="text"
                                   class="form-control"
                                   name="libelle"
                                   required
                            >
                        </div>

                    </div>
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label class="col-form-label">texte</label>
                        </div>
                        <div class="col-auto">
                            <input type="text"
                                   class="form-control"
                                   name="texte"
                                   required
                            >
                        </div>

                    </div>
                    <div class="col-12" style="margin-top: 2rem">
                        <button class="btn btn-primary" type="submit">Créer catégorie</button>
                    </div>
                </form>
            </div>
        </div>

        {% if reponseApi is defined %}
            {{ reponseApi }}

        {% endif %}

    </div>

{% endblock %}