{% extends 'base.html.twig' %}

{% block body %}
    <div class="card-group">
        {% if app.session.get('categorieIds') is defined %}
            {% set categorieIds = app.session.get('categorieIds') %}
            <div class="card">
                <div class="card-header">
                    Récupérer une Catégorie:
                </div>
                <div class="card-body">
                    <form action="{{ path('SoapPhpGetCategorie') }}" method="post">
                        <div class="row g-3 align-items-center">
                            <div class="col-auto">
                                <label class="col-form-label">Id</label>
                            </div>
                            <div class="col-auto">
                                <select class="form-select" name="categorieId" type="number" required>
                                    {% for categorieId in categorieIds %}
                                        <option value={{ categorieId }}>{{ categorieId }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-auto">
                        <span id="categorieHelpInline" class="form-text">
                          Id doit appartenir à une catégorie existante en BD côté serveur.
                        </span>
                            </div>
                        </div>
                        <div class="col-12" style="margin-top: 2rem">
                            <button class="btn btn-primary" type="submit">Récupérer catégorie</button>
                        </div>
                    </form>
                </div>
            </div>
        {% endif %}
        {#        affichage de la catégorie récupérée #}
        {% if categorie is defined %}
            {{ include("slots/_categorie.html.twig", {categorie: categorie}) }}
        {% endif %}

    </div>

{% endblock %}