{% extends 'base.html.twig' %}

{% block body %}
    <div class="card-group">
        {#        formulaire #}
        <div class="card">
            <div class="card-header">
                Récupérer une commande par un intervalle de temps:
            </div>
            <div class="card-body">
                <form action="{{ path('SoapPhpGetCommande') }}" method="post">
                    <div class="form-group">
                        <div class="col-auto">
                            <label class="col-form-label">Début</label>
                        </div>
                        <div class="col-auto">
                            <input type="date"
                                   class="form-control"
                                   name="debut"
                                   required
                            >
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-auto">
                            <label class="col-form-label">Fin</label>
                        </div>
                        <div class="col-auto">
                            <input type="date"
                                   class="form-control"
                                   name="fin"
                                   required
                            >
                        </div>

                    </div>
                    <div class="col-12" style="margin-top: 2rem">
                        <button class="btn btn-primary" type="submit">Récupérer commandes</button>
                    </div>
                </form>
            </div>
        </div>

        {#        liste des commandes #}
        {% if commandes is defined %}
            {% for commande in commandes %}
                <div class="card text-white bg-success">
                    <div class="card-header">
                        <h5>Commande id: {{ commande.id }}</h5>
                    </div>
                    <div class="card-body">
                        {{ include('slots/_commande.html.twig', { commande:commande }) }}
                        <hr>
                        {{ include('slots/_utilisateur.html.twig', { utilisateur:commande.user }) }}
                    </div>
                </div>
            {% endfor %}

        {% endif %}

    </div>

{% endblock %}