<div class="card">
    <div class="card-header">
        Attributs de la Catégorie
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">id: {{ categorie.id }}</li>
            <li class="list-group-item">libellé: {{ categorie.libelle }}</li>
            <li class="list-group-item">texte: {{ categorie.texte }}</li>
        </ul>
    </div>
</div>