<h6 class="card-title">Détails commande</h6>


<p class="card-text">id: {{ commande.id }}</p>
<p class="card-text">date: {{ commande.date_commande }}</p>
<p class="card-text">statut: {{ commande.statut }}</p>


