<div class="card">
    <div class="card-header">
        Attributs du langage
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">id: {{ langage.id }}</li>
            <li class="list-group-item">id: {{ langage.nom }}</li>
            <li class="list-group-item">caractéristiques: {{ langage.caracteristiques }}</li>
        </ul>
    </div>
</div>