<h6 class="card-title">Détails utilisateur</h6>

<p class="card-text">id: {{ utilisateur.id }}</p>
<p class="card-text">email: {{ utilisateur.email }}</p>
<p class="card-text">nom: {{ utilisateur.nom }}</p>
<p class="card-text">prénom: {{ utilisateur.prenom }}</p>

